body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 3vh;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.postCodeForm {
  margin-top: 10vh;
  margin-left: 3vh;
  display: flex;
  flex-direction: row;
  column-gap: 1vh;
  align-items: normal;
  justify-content: left;
}

.postDisplay {
  margin: 3vh;
  align-items: normal;
  justify-content: left;
}
